.option-container {
    padding: 20px;
}

.option-container p {
    text-align: left;
}

.option-container-buttons {
    text-align: right;
}

.option-text {
    font-size: 1.1em;
}

.note-text {
    font-size: 1em; 
}

lightning-button {
    margin-left: 10px;
}